html, body {
	min-height: 100%;
	--font-family: Georgia, serif;
	font-family: var(--font-family);
	--grund-schrift-groesse: calc(.8vmin + 8px);
	font-size: var(--grund-schrift-groesse);
}

body {
	overflow-x: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
}

html[data-progress] {
	cursor: progress
}

html[data-wait] {
	cursor: wait
}

html[data-wait] :not([data-wait-immune]) {
	pointer-events: none
}

html[data-wait] [data-wait-immune], html[data-wait] [data-wait-immune] * {
	pointer-events: initial;
	cursor: default !important
}

html[data-wait] [data-wait-immune] [onclick], html[data-wait] [data-wait-immune][onclick] {
	cursor: pointer
}

:root {
	--ueberschrift-groesse: 3.2rem;
	--padding: 2rem;
	/*--hoehe: calc(100% - var(--ueberschrift-groesse) - var(--padding) - 20px)*/
	--hoehe: 80vh;
	--schrift-groesse: 1.4rem;
	/*--schrift-groesse: calc(1vw * 0.4rem / 100);*/
	--link-farbe: dodgerblue;
}

* {
	box-sizing: border-box;
}

.container {
	/*max-width: 70%;*/
	/*min-width: 600px;*/
	--container-padding: 1rem;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 var(--container-padding);
}

a {
	color: var(--link-farbe);
}

a.sternchen {
	text-decoration: none;
}

a[id]::after {
	content: "🔗";
	padding-left: 8px;

	visibility: hidden;
}

a[id]:hover::after {
	visibility: initial;
}

a[id]:empty::after {
	display: none;
}

details > summary {
	cursor: pointer;
}

.info {
	cursor: help;
}
