#inhaltsverzeichnis {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	position: fixed;
	z-index: 10;
	width: var(--inhaltsverzeichnis-breite);
	/*align-items: center;*/
	padding: 1rem 2.4rem;
	/*background-color: #213844;*/
	background-color: black;
	color: white;
	margin-top: 0;
	top: 0;
	--gap: 1.2rem;
	--font-size: 1.2rem;
	--height: calc(var(--font-size) * var(--font-size));
	/*border-right: var(--border);*/
	/*border-right-color: #111;*/
}

#inhaltsverzeichnis::before {
	content: "";
	position: absolute;
	z-index: 1;
	height: calc(3 / 4 * var(--inhaltsverzeichnis-breite));
	width: calc(3 / 4 * var(--inhaltsverzeichnis-breite));
	top: 0;
	left: 0;
	border: 4rem white solid;
	border-radius: 50%;
	transform: translate(-28%, -39%);
}

#inhaltsverzeichnis li:not(:first-child) a {
	padding-top: calc(var(--gap) / 2);
}

#inhaltsverzeichnis li:not(:last-child) a {
	padding-bottom: calc(var(--gap) / 2);
}

#inhaltsverzeichnis li {
	list-style: none;
	/*padding: .4rem;*/
	font-size: var(--font-size);
	height: var(--height);
	display: flex;
	align-items: center
}

#inhaltsverzeichnis li:hover a {
	color: var(--primary);
}

#inhaltsverzeichnis li a {
	color: white;
	text-decoration: none;
}

#inhaltsverzeichnis li.abseits {
	--gap: 3.6rem;
}
