body.popup {
	overflow-y: hidden;
}
body.popup.popup-wichtig #popup-hintergrund {
	cursor: not-allowed;
}

#popups {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

body:not(.popup) #popups {
	display: none;
}

#popup-hintergrund {
	--farbe: rgba(0, 0, 0, 100);
	--zeit: .3s;
	--groesse: 150vmax;
	position: absolute;
	/*height: 100vmax;*/
	/*width: 100vmax;*/
	height: var(--groesse);
	width: var(--groesse);
	background-color: var(--farbe);
	box-shadow: 0 0 32px 32px var(--farbe);
	z-index: 20;

	opacity: 0.2;
	transform: scale(0);
	border-radius: 50%;
}

#popups > *:not(#popup-hintergrund).offen ~ #popup-hintergrund {
	transition: opacity calc(var(--zeit)) ease-in, transform var(--zeit) linear, border-radius var(--zeit) linear var(--zeit);
	display: initial;
	border-radius: 0;
	transform: scale(1);
	opacity: .4;
}

/* Jedes popup */
#popups > *:not(#popup-hintergrund) {
	position: absolute;
	background-color: white;
	box-shadow: 0 0 16px 4px #333;
	border-radius: .8rem;
	z-index: 30;
	margin: 1rem;

	opacity: 0;
	display: none;
	transition: opacity .2s ease-in-out;
}

#popups h3 {
	--margin-bottom: 1.4rem;
	margin-bottom: var(--margin-bottom);
	position: relative;
	margin-right: auto;
}

#popups h3::after {
	content: '';
	position: absolute;
	height: 4px;
	display: block;
	background: steelblue;
	width: 60%;
	margin-top: calc((var(--margin-bottom) - 0.2rem) / 2);
	transform: translateY(-50%);
	border-radius: 500px; /* hoher Wert für maximale Rundung */
}

#popups .container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	max-width: 700px;
}

#popups > *:not(#popup-hintergrund).offen {
	display: initial;
	opacity: 1;
}
