.wussten-sie-schon {
	padding: 1.6rem;
	width: 100%;
	background: center/cover no-repeat linear-gradient(-45deg, transparent 10%, #e0e3e5 30%, #f0f0f0f0 30%);
	font-size: 1.2rem;
	position: relative;
	overflow: hidden;
	cursor: help;
}

.wussten-sie-schon::before {
	content: "💡 Wussten Sie schon?";
	font-weight: bold;
	color: #888;
	margin-right: .6rem;
}
