footer
	display: flex
	flex-direction: column
	font-size: 1.2rem
	position: sticky
	bottom: 0
	contain: content
	//contain: size
	content-visibility: auto
	z-index: -1
	> *
		width: 100%
	#slogan
		background-color: #000
		color: #ddd
		margin: 0
		padding: 1.6rem
		text-align: center
		font-size: 1.6rem
		> span
			font-size: 120%
			&.klimaschutz
				color: var(--farbe-primär)
			&.fahrradweg
				color: var(--farbe-sekundär)
	#fußzeile
		padding: .4rem
		background-color: #333
		color: #ddd
		display: flex
		justify-content: space-between
		align-items: center
		//flex-wrap: wrap
		border-top: .4rem solid var(--farbe-primär)
		position: relative
		#copyright
			margin-right: 1rem
			white-space: nowrap
		#links
			display: flex
			margin: 0
			align-items: center
			flex-wrap: wrap
			padding: 0
			li
				list-style: none
				display: flex
				flex-wrap: nowrap
				align-items: center
				a
					color: inherit
					&:not(:hover)
						text-decoration: none
			li + li::before
				content: "·"
				width: 1.6rem
				display: inline-block
				text-align: center
				margin-top: -1px
		//&::before
		//	content: ""
		//	position: absolute
		//	width: 60%
		//	height: 0.4rem
		//	background: linear-gradient(90deg, transparent, dodgerblue 20%, dodgerblue 80%, transparent)
		//	top: 0
		//	left: 50%
		//	transform: translate(-50%, -50%)
		//	z-index: 1
		//	border-radius: 50%
	#admin-anzeige
		--gap: .4rem
		> fieldset
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			> button
				margin: var(--gap)
				flex-basis: 0
				flex-grow: 1
				font-size: 1.2rem
				&:not(.erlaubt)
					cursor: default
					user-select: none
					--color-primary: #ccc

@media (max-width: 1000px)
	footer
		#fußzeile, #fußzeile #links
			flex-direction: column
		#fußzeile
			#copyright
				margin-right: 0
				margin-bottom: .8rem
			#links li
				+ li
					margin-top: .4rem
				&::before
					display: none !important
