@use "sass:math"

@mixin randomKasten($width, $height, $top, $left)
	//transform: translateX(calc(#{$left} * 100vw + (1 - #{$left}) * -200%)) translateY(calc(#{$top} * (var(--erde-größe) + 4rem) + (1 - #{$top}) * -200%)) rotate((random(360)) * 1deg) scaleX($width * random(1) + 1) scaleY($height * random(1) + 1)
	transform: translateX(calc(#{$left} * 100vw + (1 - #{$left}) * -200%)) translateY(calc(#{$top} * (var(--erde-größe) + 4rem) + (1 - #{$top}) * -200%)) scaleX($width * 2) scaleY($height * 2)

@mixin kastenKeyframes($start, $duration)
	$oldWidth: random()
	$oldHeight: random()
	$oldTop: random()
	$oldLeft: random()

	$newWidth: random()
	$newHeight: random()
	$newTop: random()
	$newLeft: random()

	$mid: $start + math.div($duration, 2)
	$end: $start + $duration

	#{$start}%
		@include randomKasten($oldWidth, $oldHeight, $oldTop, $oldLeft)
		opacity: 0
	#{$mid}%
		@include randomKasten($oldWidth + (math.div($newWidth - $oldWidth, 2)), $oldHeight + (math.div($newHeight - $oldHeight, 2)), $oldTop + (math.div($newTop - $oldTop, 2)), $oldLeft + (math.div($newLeft - $oldLeft, 2)))
		opacity: math.div(random(), 2) + .5
	#{$end}%
		@include randomKasten($newWidth, $newHeight, $newTop, $newLeft)
		opacity: 0

section#willkommen
	//height: 80vh
	display: flex
	align-items: center
	justify-content: center
	//background-color: black
	background-color: #001433
	width: 100%
	overflow: hidden
	contain: paint style layout
	padding: 2rem
	position: relative

	.hintergrund
		position: absolute
		width: 100%
		height: 100%
		z-index: 0
		//filter: blur(120px)
		.kasten
			background: #500a32
			position: absolute
			top: 0
			left: 0
			width: 24 * 1vmax
			height: 24 * 1vmax
			opacity: 0
			@for $i from 1 through 6
				&:nth-child(#{$i})
					//border-radius: random(50) * 1%
					animation: infinite kasten#{$i} (random(60) + 80) * 1s linear both
					animation-delay: random(5) * 1s
					@keyframes kasten#{$i}
						1%
							opacity: 0
						@include kastenKeyframes(2, 25)
						26%
							opacity: 0
						@include kastenKeyframes(27, 50)
						51%
							opacity: 0
						@include kastenKeyframes(52, 75)
						76%
							opacity: 0
						@include kastenKeyframes(77, 100)
						//@include kastenKeyframes(5, 25)
						//@include kastenKeyframes(30, 60)
						//@include kastenKeyframes(65, 78)
						//@include kastenKeyframes(83, 95)

						//@include kastenKeyframes(15 + #{random(5)})
						//@include kastenKeyframes(35)
						//@include kastenKeyframes(50)
						//@include kastenKeyframes(65 + #{random(5)})
						//@include kastenKeyframes(85)

	.text
		display: flex
		flex-direction: column
		z-index: 2
		position: relative
		color: #fff
		P
			font-size: 1.4rem
			//font-family: var(--schriftart-id)
			font-weight: bold
		.um-die-welt::after
			content: "40.000km"
			font-weight: bold
			font-family: var(--schriftart-id)
			font-size: 3rem
			opacity: .4
			color: #00b0e8
			position: absolute
			top: 100%
		h1
			font-size: 4rem
			font-weight: 900
			position: relative

	#welt
		display: flex
		align-items: center
		z-index: 1
		#anzeige
			position: relative
			flex-grow: 1
			height: 82vh
			width: 50vw
			display: flex
			align-items: center
			justify-content: center
			canvas
				position: absolute
				height: var(--erde-größe) !important
				width: var(--erde-größe) !important
		#fakten
			margin-left: 8rem

	&::before
		--farbe-glow-2: #005dd5
		--farbe-glow: #cb00de
		content: ""
		position: absolute
		height: 60%
		width: 14%
		background: var(--farbe-glow-2)
		//background-color: transparent
		left: 0
		border-radius: 0 50% 50% 0
		transform: translateX(-80%)
		box-shadow: .8rem 0 5rem 5rem var(--farbe-glow-2), 1.2rem 0 6rem 4rem var(--farbe-glow)
		// , inset 0 -12px 12px 36px var(--farbe-glow-2)
		opacity: .4
		z-index: 1
		display: none

	// * Kreis
	&::after
		content: ""
		position: absolute
		z-index: 1
		height: var(--kreis-größe)
		width: var(--kreis-größe)
		bottom: 0
		right: 0
		border: var(--kreis-dicke) white solid
		border-radius: 50%
		transform: var(--kreis-position)

@media (max-width: 1024px)
	@at-root
		\:root
			--kreis-größe: 14rem
	section#willkommen
		flex-direction: column
		.text
			margin: 0
			width: 100%
			h1
				text-align: center
		#welt
			flex-direction: column
			width: 100%
			#anzeige
				height: 68vh
				width: 100%
			#fakten
				margin-left: 0
				@include fakten-horizontal
		&::before
			display: none
		&::after
			display: none

@media (max-width: 924px)
	section#willkommen #welt #anzeige
		height: 64vh

@media (max-width: 500px)
	section#willkommen #welt #anzeige
		height: 50vh

@media (max-width: 380px)
	section#willkommen .text h1
		font-size: 3.6rem
//#welt #anzeige
//	height: 39vh

@media (max-width: 320px)
	section#willkommen .text h1
		font-size: 3rem
