section#willkommen
	//height: 80vh
	display: flex
	align-items: center
	justify-content: center
	background-color: black
	width: 100%
	color: #fff
	overflow: hidden

	> h1
		font-size: 4rem
		font-weight: 900
		position: relative
		z-index: 1

	#welt
		display: flex
		align-items: center
		//height: 100%
		width: 100%
		max-width: 60%
		padding: 2rem
		#anzeige
			position: relative
			width: 100%
			flex-grow: 1
			height: 80vh
			display: flex
			align-items: center
			justify-content: center
			canvas
				position: absolute
				height: var(--erde-größe) !important
				width: var(--erde-größe) !important
				background-color: black
		#fakten
			font-family: Coda, ui-monospace
			font-size: 1.2rem
			display: flex
			flex-direction: column
			.fakt + .fakt
				margin-top: 1rem

	&::before
		--farbe-glow-2: #005dd5
		--farbe-glow: #cb00de
		content: ""
		position: absolute
		height: 60%
		width: 12%
		background: var(--farbe-glow-2)
		//background-color: transparent
		left: 0
		border-radius: 0 50% 50% 0
		transform: translateX(-45%)
		box-shadow: 12px 0 5rem 2rem var(--farbe-glow-2), -8px 12px 12px 36px var(--farbe-glow-2), 12px 0 6rem 4rem var(--farbe-glow)
		// , inset 0 -12px 12px 36px var(--farbe-glow-2)
		opacity: .4

	// * Kreis
	&::after
		content: ""
		position: absolute
		z-index: 1
		height: var(--kreis-größe)
		width: var(--kreis-größe)
		bottom: 0
		right: 0
		border: var(--kreis-dicke) #ddd solid
		border-radius: 50%
		transform: var(--kreis-position)
