@import "sanitize.css"

html, body
	min-height: 100%
	--font-family: Montserrat, sans-serif
	font-family: var(--font-family)
	--grund-schrift-groesse: calc(.8vmin + 8px)
	font-size: var(--grund-schrift-groesse)
	//border-radius: 4px
	transition: .2s ease all
	user-select: none
