@import "sanitize.css/*.css"

\:root
	--schriftart: Montserrat, sans-serif
	--grund-schriftgröße: calc(.8vmin + 8px)

	--farbe-primär: rgb(194, 220, 98)
	// von Schulwebsite
	--farbe-sekundär: #5b99d3
	--farbe-weltraum: black

	--kreis-größe: 28rem
	--kreis-dicke: calc(.18 * var(--kreis-größe))
	--kreis-position: translate(30%, 10%)

	--erde-größe: 0

html, body
	min-height: 100%
	font-family: var(--schriftart)
	font-size: var(--grund-schriftgröße)

html
	&[data-progress]
		cursor: progress
	&[data-wait]
		cursor: wait
		:not([data-wait-immune])
			pointer-events: none
		[data-wait-immune], [data-wait-immune] *
			pointer-events: initial
			cursor: default !important
			&[onclick]
				cursor: pointer

[onclick], [href], details > summary, button:not(:disabled), input[type=button]:not(:disabled)
	cursor: pointer

.info
	cursor: help

a
	color: var(--farbe-primär)

p
	margin: 0

@import "header"
@import "_main"
@import "willkommen"
@import "popups"
@import "admin"
