#admin-anzeige {
	--gap: .4rem;
}

#admin-anzeige > fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(-1 * var(--gap));
	justify-content: space-between;
}

#admin-anzeige > fieldset > button {
	margin: var(--gap);
	flex-basis: 0;
	flex-grow: 1;
	font-size: 1.2rem;
}

#admin-anzeige > fieldset > button:not(.erlaubt) {
	cursor: default;
	user-select: none;
	--color-primary: #ccc;
}
