#bestenliste-anzeige {
	display: flex;
	flex-direction: column;
	--gap-vertical: .2rem;
	--gap-track-inhalt-max: 2.6rem;
	--gap-track-inhalt: 2.4rem;
	--gap-fahrrad-inhalt: 0.6rem;
	--height: 4rem;
	--anzahl: 0;
	--strecke-breite: 2.8rem;
	--track-hoehe: calc(var(--height) * 3 / 7);
	--rang-breite-max: calc(var(--height) * 2 / 3);
	--rang-breite: calc(var(--height) / 2);
	--padding: var(--container-padding);
	--general-margin-left: calc(var(--gap-track-inhalt-max) * 2 + var(--strecke-breite) + var(--padding) + var(--rang-breite-max));

	height: calc(var(--anzahl) * (var(--gap-vertical) + var(--height)) - var(--gap-vertical));

	margin: calc(var(--height) / 2) 0;
	margin-left: var(--general-margin-left);
	padding: 0;
	position: relative;
	user-select: none;
	cursor: default;
}

#bestenliste-anzeige:empty {
	display: none;
}

#bestenliste-anzeige li {
	--left: calc(var(--prozent) * 1%);
	--top: calc((var(--gap-vertical) + var(--height)) * (var(--rang) - 1));
	--translate-x: calc(-1% * var(--prozent));

	list-style: none;
	height: var(--height);
	min-height: var(--height);
	width: 100%;
	--prozent: 0;
	--rang: 0;
	order: var(--prozent); /* Reihenfolge unabhängig vom DOM beeinflussen */

	display: flex;
	align-items: center;
	position: absolute;
	margin-top: var(--top);

	--background: #555;
	--background-lighter: #656565;
	--background-darker: #242424;
}

/*
Eingekreiste Zahl (Rang)
*/
#bestenliste-anzeige li::before {
	/* Kann nicht var(...) in content benutzen, aber counter(...) */
	/* https://stackoverflow.com/questions/40164169/css-variables-custom-properties-in-pseudo-element-content-property */
	counter-reset: rang var(--rang);
	content: counter(rang);

	position: absolute;
	top: calc(var(--height) / 2);
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	transform: translateX(-50%) translateY(-50%);
	margin-left: calc(-2 * var(--gap-track-inhalt-max) - var(--strecke-breite) - var(--padding) - var(--rang-breite-max) / 2);
	width: var(--rang-breite);
	height: var(--rang-breite);
	background: white;
	border-radius: 50%;
	border: 3px solid var(--background-darker);
	font-family: monospace;
	background: var(--background-lighter);
	color: var(--background-darker);
	box-shadow: 0 0 6px -4px #222 inset, 0 0 8px -4px #000;
	text-shadow: 0 0px 2px #222;
	font-weight: bold;
	font-size: calc(var(--rang-breite) / 2);
	/*transition: transform .2s ease-in-out;*/
}

/**
Eingekreiste Zahl onhover vergrößern
 */
#bestenliste-anzeige li:hover::before {
	transform: translateX(-50%) translateY(-50%) scale(1.1);
}

/**
Name und Schule
 */
#bestenliste-anzeige li .inhalt {
	position: absolute;
	height: var(--height);
	min-height: var(--height);
	/*margin: calc(var(--gap) / 2) 0;*/
	/*margin: 0;*/
	left: var(--left);
	/*top: var(--top);*/
	transform: translateX(var(--translate-x));

	white-space: nowrap;

	font-size: 1.2rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

/**
Fahrrad-Icon
 */
#bestenliste-anzeige li .inhalt::before {
	content: "";
	position: absolute;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;

	transform: translateX(-50%);

	margin-left: calc(-1 * var(--gap-track-inhalt));

	z-index: 1;

	height: 100%; /* kann benutzt werden, damit Fahrräder sich nicht berühren bei --gap-vertical: 0 */
	width: calc((var(--gap-track-inhalt) - var(--gap-fahrrad-inhalt)) * 2);

	background-image: var(--url);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*
Erste 3 Einträge: größer
*/
#bestenliste-anzeige li.gold, #bestenliste-anzeige li.silber, #bestenliste-anzeige li.bronze {
	--track-hoehe: calc(var(--height) / 2);
	--rang-breite: var(--rang-breite-max);
	--gap-track-inhalt: var(--gap-track-inhalt-max);
}

#bestenliste-anzeige li.gold::before, #bestenliste-anzeige li.silber::before, #bestenliste-anzeige li.bronze::before {
	border-width: 4px;
}

#bestenliste-anzeige li.gold .inhalt, #bestenliste-anzeige li.silber .inhalt, #bestenliste-anzeige li.bronze .inhalt {
	font-size: 1.3rem;
}

#bestenliste-anzeige li.gold .inhalt::after, #bestenliste-anzeige li.silber .inhalt::after, #bestenliste-anzeige li.bronze .inhalt::after {
	font-size: 1.2rem;
}

/**
Track (Balken) und Streckenanzeige
 */
#bestenliste-anzeige li .inhalt::after {
	content: attr(data-strecke);
	font-size: .95rem;
	color: white;
	padding-right: var(--gap-track-inhalt);
	display: flex;
	justify-content: flex-end;
	align-items: center;

	height: var(--track-hoehe);
	left: 0;
	background-color: #999;
	position: absolute;
	border-radius: 100px;
	width: 100vw;
	transform: translateX(-100%);
	margin-left: calc(-1 * var(--gap-track-inhalt));

	background-image: linear-gradient(135deg, var(--background) 48%, var(--background-lighter), var(--background) 52%);
	background-size: 200% 100%;

	animation: shine 6s linear infinite;
	animation-delay: calc(.5s * var(--rang));
}

/*
Unauffällig Bewegung reinbringen
*/
@keyframes shine {
	from {
		background-position: 100%;
	}
	to {
		background-position: 0;
	}
}

#bestenliste-anzeige li.gold {
	--background: #ffd700;
	--background-lighter: #ffea83;
	--background-darker: #ac9100;
}

#bestenliste-anzeige li.silber {
	--background: #999;
	--background-lighter: #a9a9a9;
	--background-darker: #797979;
}

#bestenliste-anzeige li.bronze {
	--background: #bf8970;
	--background-lighter: #b89e90;
	--background-darker: #926c56;
}

#bestenliste-anzeige li .name {
	font-weight: bold;
	margin-right: .4rem;
}

#bestenliste-anzeige li .schule {
	font-style: italic;
}
