/*figure + .container {
	--padding-nach-bild: 1.6rem;
	padding-top: var(--padding-nach-bild);
}

figure + .container::before {
	content: "";
	position: absolute;
	left: 0;
	transform: translateY(calc(-100% - var(--padding-nach-bild) + 2px));
	z-index: 2;
	pointer-events: none;
	width: 40vw;
	min-width: 3rem;
	height: calc(40vw / 3);
	min-height: 1rem;
	background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 48 16" xmlns="http://www.w3.org/2000/svg"><path d="m 0,0 v 16 h 48 c -23,0 -48,0 -48,-16 z" style="stroke:none;fill:white;" /></svg>');
	background-repeat: no-repeat;
	background-size: contain;
}*/

figure {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
}

figure img {
	transition: transform .2s ease;
	--width: 0.67;
	width: calc(var(--width) * 100%);
	max-width: calc(var(--container-max-width) * var(--width));
}

figure::before, figure::after {
	content: "";
	height: 10px;
	background: #999;
	display: flex;
	flex-grow: 1;
	margin: 10% 1rem 0 1rem;
	border-radius: 500px;
}

/*figure::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, .4) 100%);
	z-index: 1;
}*/

/*figure:hover img {
	transform: scale(1.05);
}*/
