figure + .container {
	--padding-nach-bild: 1.6rem;
	padding-top: var(--padding-nach-bild);
}

figure + .container::before {
	content: "";
	width: 100%;
	position: absolute;
	height: 60px;
	background: linear-gradient(0deg, white, transparent);
	left: 0;
	transform: translateY(calc(-100% - var(--padding-nach-bild) + 1px));
	z-index: 2;
	pointer-events: none;
}

figure {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
}

figure img {
	transition: transform .2s ease;
	width: 100%;
}

figure::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 20%, rgba(0, 0, 0, .4) 100%);
	z-index: 1;
}

figure:hover img {
	transform: scale(1.05);
}
