#fusszeile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	font-size: 1rem;
	flex-wrap: wrap;
	margin: 1rem 0;
}

#fusszeile, #fusszeile li, #fusszeile a {
	color: #999;
}

#fusszeile a:not(:hover) {
	text-decoration: none;
}

@media (max-width: 620px) {
	#fusszeile {
		flex-direction: column;
		align-items: center;
	}

	#fusszeile * + * {
		margin-top: .4rem;
	}
}

#cookies, #quellen {
	cursor: pointer
}
