@import "./runde.css";
@import "./saison/saisons-anzeige.css";
@import "./feed.css";
@import "./bestenliste.css";
@import "./bild.css";
@import "./fakten.css";
@import "./fahrer.css";
@import "./links.css";
@import "./tageszeit.css";
@import "./quellen.css";
@import "./fusszeile.css";
@import "./admin.css";
@import "./verweis.css";

#scrollable {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	position: relative;
	z-index: 10;
	background-color: white;
	font-size: var(--schrift-groesse);
	top: var(--hoehe);
	width: calc(100% - var(--inhaltsverzeichnis-breite));
	/*box-shadow: 0 0 24px 2px #111, inset 0 12px 12px -8px grey;*/
	border-top: var(--border);
}

#scrollable::before {
	/*content: "";*/
	position: sticky;
	left: 0;
	height: 100vh;
	width: 2rem;
	/*background: white;*/
}

#trennung {
	width: var(--trennung-breite);
	margin-left: calc(-1 * var(--trennung-breite) + var(--inhaltsverzeichnis-breite));
	transform: translateX(calc(1 / 2 * var(--trennung-breite))) skewY(12deg);
	transform-origin: top left;
	z-index: 11;
	height: 80vh;
	top: 20vh;
	position: sticky;
	background: var(--primary);
	margin-top: -44vh;
	border: 2px white;
	border-right: 0.4em solid #eee;
	border-top: 0.4em solid #eee;
	/*box-shadow: 2px 0 6px -2px #222;*/
	box-shadow: 0 2px 2px black;
	/*border-top-left-radius: 147px;
	border-top-left-radius: 115%;*/
}

#inhalt {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: relative;
}

#inhalt .container {
	padding-left: calc(var(--container-padding) + 1 / 2 * var(--trennung-breite));
}

#willkommen {
	display: flex;
	position: fixed;
	height: var(--hoehe);
	width: calc(100vw - var(--inhaltsverzeichnis-breite));
	left: var(--inhaltsverzeichnis-breite);

	--fakten-groesse: calc(var(--hoehe) / 3);

	/*background: left/100% 100% no-repeat linear-gradient(45deg, #4b5865, transparent);*/
	/*background: linear-gradient(14deg, #6a757a 0%, transparent 80%);*/
	background: linear-gradient(9deg, #6a757a 0%, transparent 32%);
	user-select: none;
}

#willkommen::before {
	content: "";
	position: absolute;
	z-index: 1;
	height: 24vmin;
	width: 24vmin;
	bottom: 0;
	left: 0;
	border: 4rem white solid;
	border-radius: 50%;
	transform: translate(-28%, 39%);
}

#vorstellung {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

#name {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	text-transform: uppercase;
	color: white;
	/* margin: 0 !important; */
	top: 11%;
	font-size: 6rem;
	font-weight: 900;
	text-shadow: 0 2px 2px black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#name::after {
	content: "";
	width: 106%;
	height: 1.6rem;
	background: var(--primary);
	margin-top: -2.5rem;
	z-index: -1;
}

#slogan {
	font-size: 2.2rem;
	color: #222;
	align-self: flex-start;
	padding: 1rem 2rem;
}

#slogan span {
	font-size: 120%;
}

#slogan > span.fahrradweg {
	color: #0d3349;
}

#slogan > span.klimaschutz {
	color: green;
}

#inhalt > h1:first-of-type {
	margin-top: var(--padding);
}

/*#inhalt > h1:first-of-type::after {
	position: absolute;
	width: 120%;
	height: 12vh;
	z-index: 10;
	content: "";
	left: 0;
	border: 4px solid #0a3050;
	!*border: 4px dashed #0a3050;*!
	display: flex;
	border-radius: 0 0 100% 100%;
	border-top: none;
	transform: translateX(-10%) translateY(-100%);
	margin-top: 2.2rem;
	!*box-shadow: 0 -4px 6px -4px #333 inset;*!

	display: none
}*/


#inhalt h2:first-of-type {
	margin-top: 0
}

#inhalt .container > *:not(hr):not(h3):not(a):not(li) + *:not(hr) {
	margin-top: 3.2rem;
}

#inhalt a:empty {
	display: block;
}

#inhalt table {
	width: 100%;
	border-collapse: collapse;
}

#inhalt table tr:not(:first-child) {
	border-top: 1px solid #999;
}

#inhalt table td:not(:first-child) {
	text-align: right;
}

#inhalt table td {
	padding: 1rem 0
}

#inhalt table caption, #inhalt h3 {
	text-align: left;
	font-weight: bold;
	margin-bottom: 1rem;
}

#inhalt table caption a, #inhalt h3 a {
	text-decoration: inherit;
	display: inline-flex;
	align-items: center;
	position: relative;
	outline: none
}

#inhalt h4 a {
	text-decoration: inherit;
}

#inhalt table caption a:not(.sternchen), #inhalt h3 a:not(.sternchen), #inhalt h4 a:not(.sternchen) {
	color: inherit;
}

#inhalt table caption a:first-of-type::before, #inhalt h3 a:first-of-type::before {
	content: "#";
	position: absolute;
	padding-right: 20px;
	color: #e0e0e0e0;
	font-size: 200%;
	font-style: italic;
	font-family: cursive;
	transform: rotate(-7deg) translateX(-100%) translateY(-6px);
}

@media (max-width: 1110px) {
	#inhalt table caption a::before, #inhalt h3 a::before {
		display: none;
	}
}

#inhalt h3 a:focus-visible::before, #inhalt table caption a:focus-visible::before,
#inhalt h3 a:focus::before, #inhalt table caption a:focus::before {
	color: var(--link-farbe);
}

#inhalt p {
	margin: 0;
}

#inhalt hr {
	margin: 1rem 0;
}
