#quellen-anzeige {
	position: relative;
	overflow: hidden;
}

#quellen-anzeige::after {
	content: "";
    position: absolute;
    right: -8vh;
    bottom: -4vh;
    height: 30vh;
    width: 30vh;

	/* https://codepen.io/FlyC/pen/oLpJWJ */
	background: linear-gradient(90deg, white 8px, rgba(0, 0, 0, 0) 1%) 95px 100px, linear-gradient(white 8px, rgba(0, 0, 0, 0) 1%), #ccc;
	background-size: 10px 10px;
	pointer-events: none;
}

#quellen-anzeige li {
	position: relative;
	z-index: 1;
}

#quellen-anzeige li > * {
	background-color: white;
}

/* Elemente müssen inline sein, damit background nur hinter Text ist; aber: inline bricht nicht, deswegen Fix s. u. */
#quellen-anzeige li span::after {
	/* https://coderwall.com/p/zvz52g/adding-a-line-break-between-two-inline-elements */
	content: '\A';
	white-space: pre;
}
