#saison-auswahl {
	display: flex;
	justify-content: center;
	align-items: center;
	--width: 4.4rem;
	--height: 2.4rem;
	--gap: 1.2rem;
	--offset: 0;
	--time: .2s;
	margin-bottom: 1.6rem;
}

#saison-auswahl .auswahl {
	display: flex;
	width: var(--width);
	height: var(--height);
	padding: .2rem 0;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 8px;
	position: absolute;
}

#saison-auswahl .jahre {
	display: flex;
	width: var(--width);
	flex-direction: row-reverse;
	padding: 0;
	margin: 0 calc(-2 * var(--offset) * (var(--gap) + var(--width))) 0 0;
	transition: margin-right var(--time) ease-in-out;
	position: relative;
	z-index: 1;
}

#saison-auswahl .jahre li {
	list-style: none;
	width: var(--width);
	min-width: var(--width);
	height: var(--height);
	min-height: var(--height);
	margin-left: var(--gap);
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	color: #ccc;
	transition: color var(--time) ease-in-out;
}

#saison-auswahl .jahre li.ausgewaehlt {
	pointer-events: none;
	cursor: default;
	color: #eee;
}

#saison-auswahl .jahre li.neu::before {
	content: "Neu!";
	text-transform: uppercase;
	position: absolute;
	font-size: .6rem;
	right: 0;
	top: 0;
	padding: .2rem .3rem;
	color: white;
	font-weight: bold;
	background-color: forestgreen;
	transform: translate(24%, -16%) rotate(30deg);
	border-radius: 4px;
}

#saison-anzeige {
	margin-top: 1.6rem;
	padding: 2rem;
	background: #0a3050;
	color: #eee;
	box-shadow: 0 32px 32px -32px black inset, 0 -32px 32px -32px black inset, 0 0 12px 4px #777;
	--dreieck-hoehe: 2vh;
	min-height: var(--dreieck-hoehe)
}

/*#saison-anzeige::after {
	content: "";
	position: absolute;
	!* bottom: -25px; *!
	left: 0;
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 2vh solid #037CA9;
	!* top: 0; *!
	transform: translateY(100%);
	bottom: 0;
	box-shadow: 0 0 4px 4px black;
}*/

#saison-anzeige #schulen-anzeige {
	display: flex;
	justify-content: space-evenly;
}

#saison-anzeige .schule {
	max-width: 1000px;
	flex-basis: 0;
	flex-grow: .5;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 2rem;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 32px 8px black;
	border: 2px solid #2e91fb;
	background-color: #082e52;

	transition: transform .1s ease-in-out;
}

#saison-anzeige .schule:hover {
	transform: scale(1.02);
}

#schulen-anzeige .schule .jahre {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

#schulen-anzeige .schule .jahre li {
	list-style: none;
	display: flex;
}

#schulen-anzeige .schule .jahre li + li {
	padding-left: 1rem;
}

#saison-anzeige .angefeuert {
	/*font-style: italic;*/
}

#saison-anzeige #schulen-anzeige .schule[data-schule="Gymnasium Höchstadt"] {
	/*background-image: url("../../img/gymnasium-hoechstadt.png");*/
	background-position: bottom;
	background-repeat: no-repeat;
	background-blend-mode: soft-light;
	background-size: auto;
}
