#ansprache
	width: 100%
	display: flex
	flex-direction: column
	font-size: 1.4rem
	--color: rgba(128, 128, 128, .3)
	background-image: linear-gradient(to right, var(--color) 1px, transparent 1px), linear-gradient(to bottom, var(--color) 1px, transparent 1px)
	background-size: 6vmin 6vmin
	h3
		font-size: 3rem
		font-style: normal
		line-height: 3rem
		text-transform: uppercase
		margin: 0 0 calc(2 / 3 * var(--padding))
	#ziel, #sternfahrten
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		p
			text-align: center
		b
			display: block

@import "motto"
@import "ziel"
@import "sternfahrten"
@import "projekt"
@import "teilnahme"
@import "spenden"
@import "schluss"
