#ansprache
	width: 100%
	display: flex
	flex-direction: column
	#teilnahme, #unterstützung, #fazit
		min-height: 30vh
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		p
			text-align: center
		b
			display: block
	#ziel, #herausforderung
		--padding: calc(1rem + 3vmin)
		em
			font-size: 3rem
			font-style: normal
			line-height: 3rem
			text-transform: uppercase
			margin-bottom: calc(2 / 3 * var(--padding))

@import "motto"
@import "ziel"
@import "herausforderung"
@import "vorherige-projekte"
@import "teilnahme"
@import "fazit"
