#herausforderung
	img
		width: 100%
	//transform: rotate(-1deg)
	&::after
		--breite-bürgersteig: 4rem
		content: ""
		width: 100%
		height: 2.4rem
		background: black
		transform: rotate(-18.5deg)
		margin-top: calc(-6.2rem - var(--breite-bürgersteig))
		background: linear-gradient(0deg, white, black)
		border-top: var(--breite-bürgersteig) solid gray
		box-sizing: content-box
		border-top-right-radius: 100%
