#motto
	display: flex
	flex-direction: column
	contain: paint
	background-size: 6vmin 6vmin
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px)
	#autos, #fahrraeder
		display: flex
		align-items: center
		justify-content: center
		font-size: 200%
		--padding: calc(1rem + 4vw)
		--height: calc(4rem + 12vw)
		--gap: calc(var(--padding) * 1.6)

		position: relative
		p
			font-weight: bold
		&::before
			content: ""
			position: absolute
			z-index: -1
			height: 177%
			width: 171%
			//background: red
			background: radial-gradient(closest-side, white 70%, transparent)
			//box-shadow: 0 0 14rem 14rem red
			//border-radius: 50%
			//margin: 0 calc(var(--hide) / -2)
	#autos
		padding: var(--padding) var(--padding) 0 0
		--aspect-ratio: 2080 / 815
		--width: calc(var(--aspect-ratio) * var(--height))
		--hide: calc(var(--height) * -4 / 3)
		picture
			img
				height: var(--height)
				aspect-ratio: var(--aspect-ratio)
			margin-left: var(--hide)
		video
			position: absolute
			width: 25%
			margin-left: calc(0.965 * var(--width) + var(--hide))
			bottom: calc(var(--height) / 3.7)
			transform: translateY(25%)
		p
			margin-left: var(--gap)
			margin-top: calc(var(--height) / -4)
			margin-right: auto
			em
				color: darkred
		&::before
			transform: translateX(var(--hide))
	#fahrraeder
		padding-left: var(--padding)
		margin-bottom: var(--padding)
		--hide: calc(-2 / 3 * 1.25 * var(--height))
		p
			margin-left: auto
		picture
			img
				height: calc(1.25 * var(--height))
			margin-right: var(--hide)
		p
			margin-right: var(--gap)
			em
				color: darkgreen
		&::before
			--shift: calc(-1 * var(--hide))
			transform: translateX(var(--shift))
		&::after
			position: absolute
			content: ""
			//background: red
			--color: rgba(0, 67, 96, 0.6)
			// #0a3050 #0e2231
			background: var(--color)
			box-shadow: 0 0 12rem 5rem var(--color), 5rem 3rem 9rem 3rem #0055a999
			z-index: 1
			will-change: top, left, transform
			--time: 1s
			transition: top var(--time) ease, left var(--time) linear, transform var(--time) ease
			top: calc(-0 * var(--height))
			left: calc(-1.8 * var(--hide))
		&.gesehen
			&::after
				top: calc(var(--height) * 1.1)
				left: calc(100vw - (-2.4 * var(--hide)))
				transform: rotate(20deg)
	em
		font-weight: bold
		font-style: normal
	#one-car-less
		text-transform: uppercase
		font-weight: 900
		font-size: 250%
		color: black
		font-family: var(--schriftart-id)
		display: flex
		flex-direction: column
		align-items: center
		position: relative
		//padding: var(--padding)
		--width: 2rem
		--border-radius: 3.2rem
		background: linear-gradient(45deg, white 50%, #ffffff99 80%, white)
		box-shadow: 0 0 2rem 1rem white
		.text
			padding: .6rem
			margin: calc(var(--padding) * 2) 0 calc(var(--padding) * 1.5)
			background: white
			display: flex
			flex-direction: column
			align-items: center
			position: relative
			z-index: 1
			p
				//display: block
				line-height: .82
				background: white
				&.less
					font-size: 92%
				&.car
					font-size: 108%
		&::before, &::after
			content: ""
			position: absolute
			height: 100%
			//width: 60%
			top: 0
			border-top-right-radius: var(--border-radius)
			//transform: translateX(calc(-50% + .3rem))
			left: 0
			--correction: .3rem
		&::before
			margin-top: calc(1 * var(--width))
			//margin-right: calc(1 * var(--width))
			background: white
			z-index: 1
			border-top-right-radius: calc(var(--border-radius) - var(--width))
			width: calc(50% + var(--correction) - var(--width) / 2)
		&::after
			//margin-top: calc(-.5 * var(--width))
			//margin-right: calc(-1 * var(--width))
			//background: var(--farbe-sekundär)
			background: linear-gradient(110deg, var(--farbe-tertiär), var(--farbe-sekundär))
			width: calc(50% + var(--correction) + var(--width) / 2)

			////background: red
			//border: 2rem solid var(--farbe-sekundär)
			//border-bottom: none
	@media (max-width: 720px)
		#autos, #fahrraeder
			font-size: 150%
	@media (max-width: 360px)
		#autos, #fahrraeder
			font-size: 120%
