#motto
	display: flex
	flex-direction: column
	contain: paint
	background-size: 40px 40px
	background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px)
	&::after
		position: absolute
		content: ""
		height: 100%
		width: 100%
		background: radial-gradient(ellipse at 38% 22%, white 29%, transparent), radial-gradient(ellipse at 62% 78%, white 29%, transparent), linear-gradient(0deg, transparent, transparent)
		z-index: -1
	#autos, #fahrraeder
		display: flex
		align-items: center
		font-size: 200%
		--padding: calc(1rem + 4vw)
		--height: calc(4rem + 12vw)
		--gap: calc(var(--padding) * 1.6)

		position: relative
		p
			font-weight: bold
	#autos
		padding: var(--padding) var(--padding) 0 0
		--aspect-ratio: 2080 / 815
		--width: calc(var(--aspect-ratio) * var(--height))
		--hide: calc(var(--height) * -4 / 3)
		picture
			img
				height: var(--height)
				aspect-ratio: var(--aspect-ratio)
			margin-left: var(--hide)
		video
			position: absolute
			width: 25%
			margin-left: calc(0.965 * var(--width) + var(--hide))
			bottom: calc(var(--height) / 3.7)
			transform: translateY(25%)
		p
			margin-left: var(--gap)
			margin-top: calc(var(--height) / -4)
			em
				color: darkred
	#fahrraeder
		padding-left: var(--padding)
		justify-content: flex-end
		picture
			img
				height: calc(1.25 * var(--height))
			margin-right: calc(-2 / 3 * 1.25 * var(--height))
		p
			margin-right: var(--gap)
			em
				color: darkgreen
	em
		font-weight: bold
		font-style: normal
