#projekt
	--fill-bottom: 20vw
	--padding-bottom: calc(-1 / 2 * var(--padding))
	padding: var(--padding) var(--padding) calc(var(--fill-bottom) + var(--padding-bottom))
	margin-bottom: calc(-1 * var(--fill-bottom))
	display: flex
	flex-direction: column
