#projekt
	--fill-bottom: 20vw
	padding: calc(2 * var(--padding)) var(--padding) calc(var(--fill-bottom) + .5 * var(--padding))
	margin: 0 auto calc(-1 * var(--fill-bottom))
	//background: #eee
	display: flex
	position: relative
	max-width: 800px
	justify-content: center
	&::before, &::after
		content: ""
		position: absolute
		width: 200%
		height: 200%
		justify-self: flex-start
		align-self: flex-start
		transform: translate(-50%, -50%)
		z-index: 0
		background: radial-gradient(closest-side, white 60%, transparent)
	&::before
		top: 10%
		left: 40%
		width: 280%
	&::after
		top: 70%
		left: 70%

	.linie
		content: ""
		position: absolute
		z-index: 1
		height: 100%
		--correction: .3rem
		margin-left: calc(var(--correction) * 2)
		width: 2rem
		top: 0
		//background: var(--farbe-primär)
		background: linear-gradient(to bottom, var(--farbe-sekundär), var(--farbe-primär) 50%) // 24%)
		//&::before
		//	position: absolute
		//	content: ""
		//	height: 1px
		//	width: 1px
		//	border-radius: 50%
		//	bottom: calc(16% + 8vw)
		//	left: -4vw
		//	box-shadow: 0 0 4rem 4rem var(--farbe-primär)
		//	opacity: .5
		//	z-index: -1
	.text
		display: flex
		flex-direction: column
		align-items: center
		font-size: 120%
		text-align: center
		> *
			z-index: 1
			background: white
		p + p
			padding-top: .4rem
		.name
			line-height: 0.82
			padding: 0.6rem
			font-size: calc(150% + 2.4vw)
			font-weight: 900
			font-style: normal
			margin: 3.2rem 0
			display: inline-block
			font-family: var(--schriftart-id)
			text-transform: uppercase
		//p:nth-child(2)
		//	font-size: 160%
