#spenden
	--füllen-gap: 3vw
	background-color: black
	display: flex
	flex-direction: column
	align-items: center
	color: white
	margin-bottom: calc(-1 * var(--füllen-gap))
	padding-bottom: calc(var(--füllen-gap) + var(--padding))
	#sponsoren:empty
		display: none
