#teilnahme
	display: flex
	flex-direction: row
	align-items: center
	justify-content: space-between
	position: relative
	z-index: 1
	margin-bottom: -4vw
	margin-top: -2.8vw
	img
		margin-right: -36vw
		margin-left: -16vw
		contain: strict
		width: 100vw
		aspect-ratio: 6826 / 3377
	.text
		position: relative
		max-width: 50vw
		$farbe-hintergrund: #eee
		background-color: $farbe-hintergrund
		padding: var(--padding)
		padding-bottom: 0
		//transform: translateY(-10%)
		margin-top: -6vw
		display: flex
		flex-direction: column
		border-radius: 1rem 0 0 1rem
		box-shadow: 0 0 1.6rem .2rem #333
		border: 4pt solid #111
		color: #222
		border-right: none

		--farbe-grenze: #ccc
		--grenze-ende: 90%
		--grenze-start: calc(var(--grenze-ende) - 0.6%)
		background-image: linear-gradient(-54deg, transparent var(--grenze-start), var(--farbe-grenze) var(--grenze-start), var(--farbe-grenze) var(--grenze-ende), var(--farbe-primär) var(--grenze-ende))

		ol
			margin: 2rem 0

		p:last-of-type
			flex-grow: 1
			display: flex
			align-items: center
		form
			--border-width: .2rem
			--border-radius: 1rem
			min-height: 10rem
			border-radius: var(--border-radius)
			border: var(--border-width) solid #999
			position: relative
			&::before
				position: absolute
				content: "🛈 Strecken können erst nach Beginn im nächsten Jahr eingetragen werden."
				width: calc(100% + 2 * var(--border-width))
				height: calc(100% + 2 * var(--border-width))
				background-image: linear-gradient(to bottom, transparentize($farbe-hintergrund, .8), $farbe-hintergrund 80%)
				border-radius: var(--border-radius)
				margin: calc(-1 * var(--border-width))
				display: flex
				align-items: center
				justify-content: center
				padding: var(--padding)
				text-align: center

@media (max-width: 1400px)
	#teilnahme
		flex-direction: column
		margin-bottom: 0
		--shift: -22vw
		--fill-top: 28vw
		--gap-top: calc(-1 * var(--fill-top) + 1 / 6 * var(--shift))
		img
			margin-left: var(--shift)
			width: calc(100vw - var(--shift))
			margin-right: 0
			position: relative
			z-index: 1
		.text
			margin-top: var(--gap-top)
			max-width: unset
			border-left: 0
			border-top: none
			border-radius: 0
			background-image: none
			box-shadow: none
			h3
				margin-top: calc(-1 / 3 * var(--gap-top))
			h3, b
				text-align: right
			ol
				margin-top: calc(-1 / 3 * var(--gap-top) - 2vw)
	//b
	//	text-align: center
	#spenden
		--fill-top: 0 !important
		.einleitung > a:first-of-type
			margin-top: 0 !important
			padding-top: 0 !important

@media (max-width: 600px)
	#teilnahme
		--shift: 0vw
		align-items: flex-start
		overflow: hidden
		img
			width: 124vw
		.text
			padding-top: var(--fill-top)
			h3
				margin-top: -2vw
			h3, b
				text-align: center
