#vorherige-projekte
	--space-y: 33vh
	--space-x: 33vw
	--height-y: calc(.8 * var(--space-y))
	--height-x: calc(.8 * var(--space-x))
	padding: var(--space-y) var(--space-x)
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	margin: 0 auto
	text-align: center
	position: relative
	overflow: hidden
	p
		position: relative
		z-index: 1
		background-color: white
		padding: .5rem
		//border-radius: .5rem
		&:nth-of-type(2)
			padding-top: 1rem
		&:last-of-type
			padding-top: 2rem
	#vorherige-projekte-bilder
		display: flex
		justify-content: center
		align-items: center
		//&::before
		//	content: ""
		//	height: 100%
		//	width: 100%
		//	position: absolute
		//	z-index: 1
		//	box-shadow: 10% 10% 6rem #8400d9
		img
			position: absolute
			max-height: var(--height-y)
			max-width: var(--height-x)
			transform: translate(-50%, -50%)

			@mixin position($left, $top)
				left: calc(#{$left * 100 + "%"} + #{.5 - $left} * var(--space-x))
				top: calc(#{$top * 100 + "%"} + #{.5 - $top} * var(--space-y))

			&:nth-child(7)
				@include position(0, .5)
			&:nth-child(3)
				@include position(.4, .0)
			&:nth-child(6)
				@include position(1, .55)
			&:nth-child(8)
				@include position(.5, .95)
			&:nth-child(2)
				@include position(.2, .92)
			&:nth-child(5)
				@include position(.8, .05)
			&:nth-child(1)
				@include position(.12, .15)
			&:nth-child(4)
				@include position(.83, .87)
			&:nth-child(9)
				@include position(.95, .35)
