#saison-auswahl {
	display: flex;
	align-items: center;
	--width: 4.4rem;
	--height: 2.4rem;
	--gap: 1.2rem;
	--offset: -1;
	--time: .2s;
	width: var(--width);
	height: var(--height);
	padding: 0;
	margin: 0 calc(2 * var(--offset) * (var(--gap) + var(--width))) 0 0;
	/*margin: 0;*/
	/*margin-bottom: var(--padding);*/
	/*margin-right: calc(2 * var(--offset) * (var(--gap) + var(--width)));*/
	left: 50%;
	transition: margin-right var(--time) ease-in-out;
	z-index: 1;
	user-select: none;
}

#saison-auswahl::before {
	content: "";
	display: flex;
	width: var(--width);
	height: var(--height);
	padding: .2rem 0;
	background-color: rgba(255, 255, 255, .5);
	border-radius: 8px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#saison-auswahl li {
	list-style: none;
	width: var(--width);
	min-width: var(--width);
	height: var(--height);
	min-height: var(--height);
	margin-right: var(--gap);
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	color: #ccc;
	transition: color var(--time) ease-in-out;
}

#saison-auswahl li.ausgewaehlt {
	pointer-events: none;
	cursor: default;
}

#saison-auswahl li.ausgewaehlt, #saison-auswahl li:hover {
	color: #eee;
}

#saison-auswahl li.neu::before {
	content: "Neu!";
	text-transform: uppercase;
	position: absolute;
	font-size: .6rem;
	right: 0;
	top: 0;
	padding: .2rem .3rem;
	color: white;
	font-weight: bold;
	background-color: forestgreen;
	transform: translate(24%, -16%) rotate(30deg);
	border-radius: 4px;
}
