#popup-anmelden {
	display: flex;
	font-size: 1.2rem;
}

#popup-anmelden > select {
	/*display: flex;*/
	/*padding: .2rem;*/
}

#popup-anmelden > * + * {
	margin-top: .6rem;
}

#popup-anmelden a {
	margin-bottom: 0;
	/*margin-top: 0.6rem;*/
}
