#popup-cookies {
	--erweitern-zeit: .2s;
	font-size: calc(var(--grund-schrift-groesse) * 1.1);
}

#popup-cookies .versteckt, #popup-cookies p:not(.versteckt) + button {
	display: none;
}

#popup-cookies p + button {
	border: none;
	outline: none;
	padding: 0;
	background: none;
}

#popup-cookies p {
	margin: 0;
}

#popup-cookies p + p, #popup-cookies p + button {
	margin-top: .8rem;
}

#popup-cookies h3 {
	margin-bottom: 1rem;
}

#popup-cookies .container button {
	cursor: pointer;
	color: var(--link-farbe);
}

#popup-cookies-buttons > button {
	display: flex;
	flex-grow: 1;
	justify-content: center;
}
