#call-to-action
	--border: 2px solid #aaa
	//--farbe-glow: #000918
	//--farbe-glow-2: #070018
	//--farbe-glow-3: #070026
	border-top: var(--border)
	border-bottom: var(--border)
	display: flex
	flex-direction: row
	align-items: stretch
	overflow: hidden
	contain: paint
	//background-color: black
	//color: #ddd
	section
		display: flex
		flex-direction: column
		flex-basis: 0
		flex-grow: 1
		padding: 2rem
		position: relative
		font-size: 1.3rem
		//font-weight: 700
		h3
			//width: 100%
			font-weight: 900
			margin: 0 auto 1.6rem 0
			font-size: 2rem
			position: relative
			&:after
				content: ""
				display: flex
				height: .6rem
				width: 100%
				background: var(--farbe-primär)
		p + p
			margin-top: 1.3rem
		.logos
			//display: grid
			//grid-template-areas: "martinbauer martinbauer martinbauer" "sparkasse sparkasse sparkasse"

			//display: inline-flex
			//flex-direction: row
			//flex-wrap: wrap
			//justify-content: space-evenly
			//align-items: center

			display: grid
			grid-template-areas: "martinbauer sparkasse frankenbrunnen" "dresel adidas frankenbrunnen"
			align-items: center
			justify-content: start

			margin-top: 1rem
			gap: 1rem
			.logo
				//margin: 2rem auto 0
				//flex-basis: 0
				//flex-grow: 1
				//max-width: 24rem

				//width: 20rem
				//max-width: 100%

				//flex-basis: 40%
				//flex-grow: 1
				//flex-wrap: wrap
				//max-width: 20rem

				//display: flex
				//align-items: center
				//justify-content: center

				max-width: 15rem

				img, svg
					max-width: 100%
					object-fit: contain
				&.sparkasse
					//grid-area: sparkasse
					grid-area: sparkasse
					img
						aspect-ratio: 3757/1183
				//&.frankenbrunnen
				//	grid-area: frankenbrunnen
				//	img
				//		aspect-ratio: 283/283
				&.martinbauer
					//grid-area: martinbauer
					grid-area: martinbauer
					//margin-left: 1rem
					img
						aspect-ratio: 6174/1402
				&.dresel
					grid-area: dresel
					img
						aspect-ratio: 1214/320
				&.adidas
					grid-area: adidas
					img
						aspect-ratio: 1200/843
					//width: 50%
				&.frankenbrunnen
					grid-area: frankenbrunnen
					img
						aspect-ratio: 1771/2125
					//width: 50%
		&:not(:nth-child(2))
			z-index: 1
			//color: #ccc
			//h3
			//	margin-top: 1.4rem
		&:nth-child(1)
			//text-align: right
			text-align: left
			//h3
			//	padding-right: 1rem
		&:nth-child(2)
			//text-align: justify
			text-align: left
			flex: 2
			//background-color: var(--farbe-glow)
			//box-shadow: 0 0 6rem 6rem var(--farbe-glow), 0 0 8rem 7rem var(--farbe-glow-2), 0 0 10rem 10rem var(--farbe-glow-3)
			//h3
			//	color: #fff
			> a:last-of-type
				display: inline-flex
				flex-grow: 1
		&:nth-child(3)
			text-align: left
			h3
				padding-left: 1rem
		&#call-unterstützung a
			font-weight: bold
		&#call-andere-projekte
			display: none

			> a:last-of-type
				display: inline-flex
				//flex-grow: 1
			svg, img
				max-width: 16rem
				margin: 2rem auto 0
	section + section
		border-left: var(--border)

@media (max-width: 1000px)
	#call-to-action
		flex-direction: column
		section
			text-align: left !important
			&:nth-child(2)
				order: 1
			&:nth-child(1)
				order: 2
				border-top: var(--border)
			&:nth-child(3)
				order: 3
				border-top: var(--border)
			h3
				padding: 0 0 1rem !important
				margin: 0 !important
		section + section
			border-left: none
