#danksagung
	display: flex
	flex-direction: column
	align-items: center
	font-size: 1.4rem
	text-align: center
	p
		//padding: 8rem 4rem
		padding: var(--padding)
		font-weight: bold
	#fahrer
		overflow: hidden
		&:empty
			display: none
			//height: 0
			//visibility: hidden
			contain: strict
	//margin-top: 1rem
	//#verweis::before

