#faq
	padding: var(--padding)
	padding-bottom: 0
	details
		padding: 1rem
		margin: .4rem
		border: 1px solid #999
		border-radius: .4rem
		+ details
			margin-top: 0
		&[open] > summary
			margin-bottom: .4rem
