#eintragen-karte {
	/*min-width: 70vw;*/
	min-height: 40vh;
	width: 100%;
}

/*#eintragen-name {
	border: 2px solid steelblue;
}*/

#eintragen-optionen {
	display: flex;
	margin: 1rem 0;
}
#eintragen-optionen > * {
	border: 1px solid #999;
	padding: .2rem;
}
#eintragen-optionen .eintragen-suche:not(:first-of-type), #eintragen-optionen #eintragen-karte-knopf {
	margin-top: .6rem;
}

#eintragen-anzeige fieldset {
	padding: .4rem .8rem;
	border-radius: var(--border-radius);
	flex-grow: 1;
}

#eintragen-anzeige fieldset legend {
	padding: 0 .4rem;
	margin: 0 .4rem;
	font-style: italic;
}

#eintragen-optionen fieldset + fieldset {
	margin-left: 1rem;
}

.eintragen-suche button::before {
	content: "📍";
	margin-right: 6px;
}

#eintragen-datenschutz-fussnoten {
	list-style: none;
	padding: 0;
}

#eintragen-datenschutz-anzeige a {
	color: #777;
}

#eintragen-datenschutz-anzeige a:not(:hover) {
	text-decoration: none;
}
