@import "./eintragen/eintragen.css";
@import "./passwort.css";

form {
	display: flex;
}

input, button {
	--border-color: gray;
	--border-radius: 6px;
	border: 2px solid var(--border-color);
	outline: none;
	padding: 0.4rem 0.6rem;
	border-radius: var(--border-radius);
}

input::placeholder {
	color: #999;
}

input:invalid {
	--border-color: darkred;
}

/*input:valid {
	--border-color: steelblue;
}*/

input:focus {
	--border-color: dodgerblue;
}

input[type=button], input[type=submit], button {
	--color-primary: steelblue;
	--color-secondary: white;
	outline: none;
	background: var(--color-primary);
	border-color: transparent;
	border-radius: var(--border-radius);
	cursor: pointer;
	color: var(--color-secondary);
}

input[type=button]:hover, input[type=submit]:hover, button:hover,
input[type=button]:focus, input[type=submit]:focus, button:focus {
	--color-primary: dodgerblue;
}

input[type=button]:disabled, input[type=submit]:disabled, button:disabled {
	--color-primary: #ccc;
	cursor: progress;
}

input[type=button].leer, input[type=submit].leer, button.leer {
	background: transparent;
	color: var(--color-primary);
	text-decoration: underline;
}

.input-button {
	display: flex;
}

.input-button > input {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	border-right: none;
}

.input-button > input[type=button], .input-button > button, .input-button > input[type=submit] {
	border-left: none;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	/* doofer spalt ... */
	margin-left: -1px;
}

.buttons {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #555;
	padding: .6rem;
	/*justify-content: flex-end;*/
	justify-content: flex-start;
}
.buttons .links + :not(.links), .buttons :first-child:not(.links) {
	margin-left: auto
}
.buttons .links:first-child {
	margin-left: 0;
}

.buttons input + input, .buttons button + button {
	margin-left: .4rem;
}

input[type=checkbox] + label {
	padding-left: .4rem;
}

input[type=checkbox] {
	cursor: pointer;
}

label {
	cursor: pointer;
}

label:focus-within > input[type=checkbox] {
	color: #0d3349;
}
