#popup-eintragen-berechnen #eintragen-karte {
	/*min-width: 70vw;*/
	min-height: 40vh;
	width: 100%;
}

#popup-eintragen-berechnen .eintragen-suche button::before {
	content: "📍";
	margin-right: 6px;
}

#popup-eintragen-berechnen .container {
	display: block;
}

#eintragen-berechnen-route {
	display: flex;
	flex-direction: column;
}
#eintragen-berechnen-route .eintragen-suche + .eintragen-suche {
	margin-top: .4rem;
}
#eintragen-berechnen-route .eintragen-suche {
	flex-grow: 1;
	display: flex;
}

#eintragen-berechnen-route .eintragen-suche input {
	width: 0;
	flex-grow: 1;
	min-width: 100px;
}

[for=eintragen-suche-merken-checkbox] {
	line-height: 1.1;
}

#eintragen-suche-merken {
	margin: 1rem 0 0;
	display: flex;
	align-items: center;
}

#eintragen-suche-merken label {
	padding-left: .8rem;
}

#popup-eintragen-berechnen .container {
	max-width: 440px;
}
