#popup-eintragen-name-gegeben p {
	margin: 0;
}

#popup-eintragen-name-gegeben p:not(:first-child) {
	margin-top: 1rem;
}

#popup-eintragen-name-gegeben p.zusatzinfo {
	font-size: 90%;
	font-style: italic;
	/*margin-bottom: 1rem;*/
	margin-bottom: 0;
	margin-top: 0.4rem;
}

#popup-eintragen-name-gegeben .authentifizierung {
	display: flex;
	justify-content: space-between;
}

#popup-eintragen-name-gegeben .info {
	flex-grow: 1;
}

#popup-eintragen-name-gegeben .info > p {
	display: flex;
	justify-content: space-between;
}

#popup-eintragen-name-gegeben .authentifizierung button {
	margin-left: 1rem;
}

#popup-eintragen-name-gegeben .strecke, #popup-eintragen-name-gegeben .name {
	margin-left: .6rem;
	font-weight: bold;
}
